<h2> Home page</h2>

<!-- EDIT ACCOUNT LINK DOESN'T WORK UNLESS YOU PRESS ENTER
 -->
<p> What would you like to see? </p>

<h3> Explore: </h3>

<ul>

<!-- 	USERS /an array/ => PICTURES /object/ => CAPTION OR LOCATION /hash/ 
 --><% @users.each do |user|%>

		<% user.pictures.each do |post| %>
		
			<li>
				<p> Caption: <%= post.caption%> </p>
			</li>

			<li>
				<p> Location: <%= post.location%> </p>
			</li>

			<li>
				<%= image_tag post.image.url %>
			</li>

			<br> 
			<br>

		<%end%>
	<%end%>
</ul>