<h2> Home page</h2>


<p> What would you like to see? </p>

<h3> Explore: (#Ordered the wrong way. Newest post goes to the bottom right now.) </h3>

<ul>

 <% @users.each do |user|%>
		
		<% user.pictures.order({ created_at: :desc}).each do |post| %> <!-- ORDERS BY TIME USER ACCOUNT WAS CREATED -->

			<li>
				<p> Caption: <%= post.caption%> </p>
			

			
				<p> Location: <%= post.location%> </p>
			
				<br>
			
				<%= image_tag post.image.url(:large) %>
			</li>

			<br> 
			<br>

		<%end%>
	<%end%>
</ul>