<!-- views/home.erb -->
<link rel="stylesheet" type="text/css" href="styles.css">

<!DOCTYPE html>
<html>
<h1>Welcome to my Movie Game</h1>
<h2>
<body>
	<form action ="/imdb_search" method ="POST">
  		<p> <input type="text" name ="text" placeholder="Type a word"> </p>
  		<p> <button type = "submit"> Submit </button>
  	</form>
</body>
</html>