<link rel="stylesheet" type="text/css" href="styles.css">

<h1>Welcome to my About Me page</h1>

<p> I am born and raised in <b>Queens, NY</b>.</p> 
<p>But I have lived in Lexington, Kentucky for 2 years due to college.</p> 
<p>It was a different yet interesting experience that I will never forget or regret.</p> 
<p> Now I'm in hot ass Miami. I don't know about this yet.</p>

<img src ="lambo2.jpg" width = "800" height = "450">
