html {
   font-style: comic;
}

body{
/*	color: white;
*/}

.adjustHome {
	position: relative;
	right: 5%;
}


.adjustSocial {
	position: relative;
	left: 18%;
}


.adjustSocialLanding {
	position: relative;
	left: 18%;
}

.field, .actions {
	color:black;
}

.nobr	{ 
	float: left; 
}

.navLinks {
	position: relative;
	bottom: 50%;
}

.picture {
	background-image: url("https://s3.amazonaws.com/uncoveredpictures/underwater.jpg");
	height: 600px;
	width: auto;
	position: relative;
	bottom: 64px;
}

.pageInfo {
	background-color:  #0099ff
}


.adjustAdminView {
	position: relative;
	left: 500px;
	color: red;
}


.homePosts {
	background-color: white;
	color: black;
}

.centerThis {
	text-align: center;
}

.paragraph {
	position: relative;
	top: 5.8px;
}

.white {
	color: white;
}

.babyBlue {
	color:#0099ff;
}
