<!DOCTYPE html>
<html>
  <head>
    <title>Timetracking</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<ul>
  		<li> <a href="/"> Home </a> </li>
  		<li> <a href="/contact"> Contact Us </a> </li>
  		<li> <a href="/say_name/Will"> Get Introduced </a> </li>
      <li> <a href="/projects"> DataBase </a> </li>


  	</ul>

    <%= yield %> <!-- This is where your code in your 'html.erb' is entered in -->
    <footer>This will appear on all pages.</footer>
  </body>


</html>
