<link rel="stylesheet" type="text/css" href="styles.css">

<h1> WELCOME TO MATH CLASS</h1>

<p> Click button to execute an operation: </p>
<p><a href='/calculator'>Calculate</a></p>
<!-- <p><a href='/subtract'>Subtraction</a></p>
<p><a href='/multiply'>Multiplication</a></p>
<p><a href='/divide'>Division</a></p> -->
