<link rel="stylesheet" type="text/css" href="styles.css">

<h1> WELCOME TO MATH CLASS </h1>

<p> Choose a type of operation to execute: </p>
<p><a href='/add'>Addition</a></p>
<p><a href='/subtract'>Subtraction</a></p>
<p><a href='/multiply'>Multiplication</a></p>
<p><a href='/divide'>Division</a></p>
